version: '3.8'

services:
  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"

  email_listener:
    build: .
    command: python apps/email_classifier/listener.py
    depends_on:
      - redis
    env_file:
      - .env
    restart: always

  email_worker:
    build: .
    command: celery -A apps.email_classifier.celery_app worker --loglevel=info
    depends_on:
      - db
      - redis
    env_file:
      - .env
    restart: always

volumes:
  postgres_data: